<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>If You Tolerate Git Then Your Children Will Be Next</title>
        <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        <style>
            body {
                margin: 50px 0 0 0;
                padding: 0;
                width: 100%;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                text-align: center;
                color: #999;
                background-color: #333;
                font-size: 18px;
                height: 100%;
            }

            h1 {
                color: #ddd;
                letter-spacing: -3px;
                font-family: 'Lato', sans-serif;
                font-size: 100px;
                font-weight: 200;
                margin-bottom: 0;
            }

            h1 em {
                font-style: normal;
                color: #fff;
            }

            img {
                margin-top: 50px;
            }

            div {
                position: absolute;
                bottom: 30px;
                width: 100%;
                text-align: center;
                font-size: .8em
            }
        </style>
    </head>
    <body>
        <h1>If you tolerate <em>git</em> then your children will be next</h1>

        <img src="/hack24.png" width="300">

        <div>(Yes, we really did register this domain)</div>
    </body>
</html>
