<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Slim 3</title>
        <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        <style>
            body {
                margin: 10px 0 0 0;
                padding: 0;
                width: 100%;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                color: #999;
                background-color: #333;
                font-size: 14px;
            }

            h1 {
                color: #ddd;
                letter-spacing: -3px;
                font-family: 'Lato', sans-serif;
                font-size: 3.5em;
                font-weight: 200;
                margin-bottom: 0;
                width: 100%;
                text-align: center;
            }

            .document {
                float: left;
                width: 31%;
                padding: 1%;
            }

            .document div {
                float: left;
                width: 99%;
                padding: 0 1%;
                overflow-x: hidden;
            }

            .document p {
                font-size: 2em;
                width: 100%;
                text-align: center;
            }

            .document ol {
                font-family: Consolas, "Courier New", monospace;
                overflow-x: hidden;
                width: 100%;
                background-color: #666;
            }

            .document ol li {
                background-color: #444;
                white-space: nowrap;
            }

            .document ol li.conflicted {
                background-color: #a44;
                cursor: pointer;
            }

            .document ol li.unknown {
                background-color: #660;
            }
        </style>
    </head>
    <body>
        <h1>Resolve Conflicts</h1>

        <div class="document conflict-left">
            <div>

                <p>Tess Norton's Document</p>

                <ol>
                    <li># Quaerit neve frustra</li>
                    <li></li>
                    <li>## Septem levat proditus tamen induruit advena</li>
                    <li></li>
                    <li class="conflicted">Lorem markdownum habet et dea sceptri nota deflentem ignem, imagine ramus</li>
                    <li class="conflicted">palantesque corripit ponti perterrita loqui? In quod praesens gratia Scythicis,</li>
                    <li class="conflicted">iaculo florentia *infelix* contingere. Altis sub pete, anxia haec *relictum</li>
                    <li class="conflicted">gracili*: hic vim incessere solo, ungues.</li>
                    <li></li>
                    <li>Quoque taurorum velle; fragosis novi, hoc nec stolidarum et ille vastum</li>
                    <li>Hippolytus his subiit *lascive* membris. Sacrorum matres extremo ora ales</li>
                    <li>asperitas ab ausus Iuppiter confinia. Pectore lacu cum innixusque simul aurem,</li>
                    <li>et silvas lupis adeo avertens dixit ad sociis.</li>
                    <li></li>
                    <li>## Eductam est latas miseris Hyperione si suum</li>
                    <li></li>
                    <li>Cacumine quandoquidem rupit exitium par: patet pectus et parens sine; bellum</li>
                    <li>remittit iusta numen? Namque Alcyone pelagi Troasque variat! Illa abdita</li>
                    <li>perierunt traderet **undas**.</li>
                    <li></li>
                    <li>> Tum illa umeros, gestasset quondam sub inpellit aequantur fuit funesta cum</li>
                    <li>> Thoos te petitur dextra cumque. Viis cum uteri exstant ille abest **vires**:</li>
                    <li>> caluere te, iam exspectatus tamen; est. Totiens Eurus et gemini pater posuit</li>
                    <li>> tactu potes prior. Silent si, ille laeva per. Fallit coniuncti cibus; et suis</li>
                    <li>> abire notas membra ignota!</li>
                    <li></li>
                    <li>Ancora qui [Si ipse](http://lacrimas-retenta.net/manes-nusquam) hortis effuso</li>
                    <li>sororem animum integer quod praepes seducta creber, stillataque posset. Animo</li>
                    <li>tam sine, acies it placidum *coniuge patiare fontes* latebras crinibus. Errore</li>
                    <li>parentis ut nunc levati reposco, cum cornix fratresque nova pulsabant? Feres</li>
                    <li>plena vincar oris ingratum; suas visura terras perire viva.</li>
                    <li></li>
                    <li>## Aether inhaesit proelia venabula utque nato erat</li>
                    <li></li>
                    <li>Latius nescia valle dedisti **deo** est vitro pascere mihi adnuat et. Ceyx</li>
                    <li>servat nimium inde circumstant **nescit carminibus epulis** timeto tum astris</li>
                    <li>crimen! In fonti fornacibus aedes visa, densum nomina: quae sed referre,</li>
                    <li>comitant! De primi amplexusque infames aede, Parnasos ab quae hinc silvas</li>
                    <li>maledicere.</li>
                    <li></li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;addressPrimaryNewsgroup(vram - 517941, publishing.protector_unfriend(</li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;nameLaptop, googleDeviceYobibyte, 1));</li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;var process = flat(cdnAddress, gigaflops_emulation, -2);</li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;if (website) {</li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;memory_eide_esports = spyware;</li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;xp_external_seo(adfLeafBoot, os, skin_development.ip_cable.app(-3,</li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;peoplewareToslinkUser, boxHomeBankruptcy));</li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;remote(double_of(activex));</li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;} else {</li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;syntaxDriveDesign /= 1;</li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;dvd = ipadIbmFile(property(94), 4, vpn_publishing_table + directxPlug);</li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;half.quad(reciprocal_computer_modem);</li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;}</li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;software -= analogKey(addressScalable, sdslLogIso - javascriptIntegerPrint(</li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-5));</li>
                    <li></li>
                    <li>Naufragus speciem adest Apollinei sanguine facit nisi gratam ira piosque?</li>
                    <li>Effugit turres dote quas Musa medio, mira is promissa, femina studiisque</li>
                    <li>clamorque pyra inhonoratae. Parva magnos thalamosque neque aerias, opes oblita;</li>
                    <li>Procris per: me.</li>
                    <li></li>
                    <li>Humum contendere tamen dubitabilis, **gradus**, ait harenis post gentes contra.</li>
                    <li>Sermone lustrat extulit! Nati loco insidiisque alis saepe, senes laeva, alis nec</li>
                    <li>vulnera.</li>
                </ol>
            </div>
        </div>

        <div class="document conflict-resolution">
            <div>
                <p>Resolved Document</p>

                <ol>
                    <li># Quaerit neve frustra</li>
                    <li></li>
                    <li>## Septem levat proditus tamen induruit advena</li>
                    <li></li>
                    <li class="unknown">????????????????????????????????????????????????????????????????????????????????</li>
                    <li class="unknown">????????????????????????????????????????????????????????????????????????????????</li>
                    <li class="unknown">????????????????????????????????????????????????????????????????????????????????</li>
                    <li class="unknown">????????????????????????????????????????????????????????????????????????????????</li>
                    <li></li>
                    <li>Quoque taurorum velle; fragosis novi, hoc nec stolidarum et ille vastum</li>
                    <li>Hippolytus his subiit *lascive* membris. Sacrorum matres extremo ora ales</li>
                    <li>asperitas ab ausus Iuppiter confinia. Pectore lacu cum innixusque simul aurem,</li>
                    <li>et silvas lupis adeo avertens dixit ad sociis.</li>
                    <li></li>
                    <li>## Eductam est latas miseris Hyperione si suum</li>
                    <li></li>
                    <li>Cacumine quandoquidem rupit exitium par: patet pectus et parens sine; bellum</li>
                    <li>remittit iusta numen? Namque Alcyone pelagi Troasque variat! Illa abdita</li>
                    <li>perierunt traderet **undas**.</li>
                    <li></li>
                    <li>> Tum illa umeros, gestasset quondam sub inpellit aequantur fuit funesta cum</li>
                    <li>> Thoos te petitur dextra cumque. Viis cum uteri exstant ille abest **vires**:</li>
                    <li>> caluere te, iam exspectatus tamen; est. Totiens Eurus et gemini pater posuit</li>
                    <li>> tactu potes prior. Silent si, ille laeva per. Fallit coniuncti cibus; et suis</li>
                    <li>> abire notas membra ignota!</li>
                    <li></li>
                    <li>Ancora qui [Si ipse](http://lacrimas-retenta.net/manes-nusquam) hortis effuso</li>
                    <li>sororem animum integer quod praepes seducta creber, stillataque posset. Animo</li>
                    <li>tam sine, acies it placidum *coniuge patiare fontes* latebras crinibus. Errore</li>
                    <li>parentis ut nunc levati reposco, cum cornix fratresque nova pulsabant? Feres</li>
                    <li>plena vincar oris ingratum; suas visura terras perire viva.</li>
                    <li></li>
                    <li>## Aether inhaesit proelia venabula utque nato erat</li>
                    <li></li>
                    <li>Latius nescia valle dedisti **deo** est vitro pascere mihi adnuat et. Ceyx</li>
                    <li>servat nimium inde circumstant **nescit carminibus epulis** timeto tum astris</li>
                    <li>crimen! In fonti fornacibus aedes visa, densum nomina: quae sed referre,</li>
                    <li>comitant! De primi amplexusque infames aede, Parnasos ab quae hinc silvas</li>
                    <li>maledicere.</li>
                    <li></li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;addressPrimaryNewsgroup(vram - 517941, publishing.protector_unfriend(</li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;nameLaptop, googleDeviceYobibyte, 1));</li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;var process = flat(cdnAddress, gigaflops_emulation, -2);</li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;if (website) {</li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;memory_eide_esports = spyware;</li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;xp_external_seo(adfLeafBoot, os, skin_development.ip_cable.app(-3,</li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;peoplewareToslinkUser, boxHomeBankruptcy));</li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;remote(double_of(activex));</li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;} else {</li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;syntaxDriveDesign /= 1;</li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;dvd = ipadIbmFile(property(94), 4, vpn_publishing_table + directxPlug);</li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;half.quad(reciprocal_computer_modem);</li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;}</li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;software -= analogKey(addressScalable, sdslLogIso - javascriptIntegerPrint(</li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-5));</li>
                    <li></li>
                    <li>Naufragus speciem adest Apollinei sanguine facit nisi gratam ira piosque?</li>
                    <li>Effugit turres dote quas Musa medio, mira is promissa, femina studiisque</li>
                    <li>clamorque pyra inhonoratae. Parva magnos thalamosque neque aerias, opes oblita;</li>
                    <li>Procris per: me.</li>
                    <li></li>
                    <li>Humum contendere tamen dubitabilis, **gradus**, ait harenis post gentes contra.</li>
                    <li>Sermone lustrat extulit! Nati loco insidiisque alis saepe, senes laeva, alis nec</li>
                    <li>vulnera.</li>
                </ol>
            </div>
        </div>

        <div class="document conflict-right">
            <div>
                <p>Tom Norris's Document</p>

                <ol>
                    <li># Quaerit neve frustra</li>
                    <li></li>
                    <li>## Septem levat proditus tamen induruit advena</li>
                    <li></li>
                    <li class="conflicted">Lorem markdownum scopulo gavisus: alta flosque sed tuum, spatio! Hanc luminibus</li>
                    <li class="conflicted">generis, ille illi natumque candore violentior gloria lumina, arti et annos</li>
                    <li class="conflicted">admiratur, in. Aequor ditia concita tuentur. Dis aut sed Peleus invidiae, matris</li>
                    <li class="conflicted">cogitur *et* ante quam!</li>
                    <li></li>
                    <li>Quoque taurorum velle; fragosis novi, hoc nec stolidarum et ille vastum</li>
                    <li>Hippolytus his subiit *lascive* membris. Sacrorum matres extremo ora ales</li>
                    <li>asperitas ab ausus Iuppiter confinia. Pectore lacu cum innixusque simul aurem,</li>
                    <li>et silvas lupis adeo avertens dixit ad sociis.</li>
                    <li></li>
                    <li>## Eductam est latas miseris Hyperione si suum</li>
                    <li></li>
                    <li>Cacumine quandoquidem rupit exitium par: patet pectus et parens sine; bellum</li>
                    <li>remittit iusta numen? Namque Alcyone pelagi Troasque variat! Illa abdita</li>
                    <li>perierunt traderet **undas**.</li>
                    <li></li>
                    <li>> Tum illa umeros, gestasset quondam sub inpellit aequantur fuit funesta cum</li>
                    <li>> Thoos te petitur dextra cumque. Viis cum uteri exstant ille abest **vires**:</li>
                    <li>> caluere te, iam exspectatus tamen; est. Totiens Eurus et gemini pater posuit</li>
                    <li>> tactu potes prior. Silent si, ille laeva per. Fallit coniuncti cibus; et suis</li>
                    <li>> abire notas membra ignota!</li>
                    <li></li>
                    <li>Ancora qui [Si ipse](http://lacrimas-retenta.net/manes-nusquam) hortis effuso</li>
                    <li>sororem animum integer quod praepes seducta creber, stillataque posset. Animo</li>
                    <li>tam sine, acies it placidum *coniuge patiare fontes* latebras crinibus. Errore</li>
                    <li>parentis ut nunc levati reposco, cum cornix fratresque nova pulsabant? Feres</li>
                    <li>plena vincar oris ingratum; suas visura terras perire viva.</li>
                    <li></li>
                    <li>## Aether inhaesit proelia venabula utque nato erat</li>
                    <li></li>
                    <li>Latius nescia valle dedisti **deo** est vitro pascere mihi adnuat et. Ceyx</li>
                    <li>servat nimium inde circumstant **nescit carminibus epulis** timeto tum astris</li>
                    <li>crimen! In fonti fornacibus aedes visa, densum nomina: quae sed referre,</li>
                    <li>comitant! De primi amplexusque infames aede, Parnasos ab quae hinc silvas</li>
                    <li>maledicere.</li>
                    <li></li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;addressPrimaryNewsgroup(vram - 517941, publishing.protector_unfriend(</li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;nameLaptop, googleDeviceYobibyte, 1));</li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;var process = flat(cdnAddress, gigaflops_emulation, -2);</li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;if (website) {</li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;memory_eide_esports = spyware;</li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;xp_external_seo(adfLeafBoot, os, skin_development.ip_cable.app(-3,</li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;peoplewareToslinkUser, boxHomeBankruptcy));</li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;remote(double_of(activex));</li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;} else {</li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;syntaxDriveDesign /= 1;</li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;dvd = ipadIbmFile(property(94), 4, vpn_publishing_table + directxPlug);</li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;half.quad(reciprocal_computer_modem);</li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;}</li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;software -= analogKey(addressScalable, sdslLogIso - javascriptIntegerPrint(</li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-5));</li>
                    <li></li>
                    <li>Naufragus speciem adest Apollinei sanguine facit nisi gratam ira piosque?</li>
                    <li>Effugit turres dote quas Musa medio, mira is promissa, femina studiisque</li>
                    <li>clamorque pyra inhonoratae. Parva magnos thalamosque neque aerias, opes oblita;</li>
                    <li>Procris per: me.</li>
                    <li></li>
                    <li>Humum contendere tamen dubitabilis, **gradus**, ait harenis post gentes contra.</li>
                    <li>Sermone lustrat extulit! Nati loco insidiisque alis saepe, senes laeva, alis nec</li>
                    <li>vulnera.</li>
                </ol>
            </div>
        </div>
    </body>
</html>
